{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="main">
        <nav>
            <a href="#"><img src="{% static 'image/image.png' %}" alt="Logo" height="100px"></a>

            <form action="../index" method="get">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Search Products..." class="search-input">
                    <button type="submit" class="search-button">
                        <img src="https://media.istockphoto.com/id/942243214/vector/search-icon.jpg?s=612x612&w=0&k=20&c=hlfzfYxoj7wyLKxwGf8AuU6RmVDguLVK58CdXiU3lgs=" alt="search" height="20px" width="20px">
                    </button>
                </div>
            </form>

            <div class="nav-links">
                <a href="../productitems">Home</a>
                <a href="../">Logout</a>
            </div>
        </nav>
<!-- 
        <div class="all">
            <a href="#">Vegtables</a>
            <a href="#">Fruits</a>
            <a href="#">Chocolates</a>
            <a href="#">Tea</a>
            <a href="#">Noodles</a>
            <button type="submit" class="cart">Cart</button>
        </div> -->

    
        <!-- Product Section -->
        <div class="product1">
            <!-- Image/Arrow Icon -->
            <img src="https://cdn-icons-png.freepik.com/256/8467/8467062.png?semt=ais_hybrid" height="200px">
            
            <!-- Form for Uploading Product Info -->
            <form action="../index" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="image">Upload Image:</label>
                    <input type="file" name="image">
                </div>
                <div class="form-group">
                    <label for="name">Enter Product Name:</label>
                    <input type="text" name="name">
                </div>

                <div class="form-group">
                    <label for="description">Enter quantity:</label>
                    <select name="des">
                        <option value="500g">500g</option>
                        <option value="750g">500g</option>
                        <option value="1kg">1kg</option>
                        <option value="2kg">2kg</option>
                        <option value="5kg">5kg</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="price">Enter Price:</label>
                    <input type="text" name="price">
                </div>
                <div class="form-group">
                    <label for="offer price">Enter OfferPrice:</label>
                    <input type="text" name="offerprice">
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
</body>
</html>
